version: '3.4'
services:
    db:
      image: mysql:9.1.0
      restart: always
      environment:
        TZ: Europe/Lisbon
        MYSQL_ROOT_PASSWORD: admin123
        MYSQL_USER: docker
        MYSQL_PASSWORD: admin123
        MYSQL_DATABASE: rest_with_spring_study
      ports:
        - "3308:3306"
      expose:
        - 3306
      networks:
        - study-network 
    rest-with-spring-study:
      image: buffalosoldierdev/rest-with-spring-study
      restart: always
      build: .
      working_dir: /app
      environment:
        TZ: Europe/Lisbon
        SPRING.DATASOURCE.URL: jdbc:mysql://db:3306/rest_with_spring_study?useTimezone=true&serverTimezone=UTC
        SPRING.DATASOURCE.USERNAME: root
        SPRING.DATASOURCE.PASSWORD: admin123
      command: mvn spring-boot:run
      ports:
        - 80:80
      depends_on:
        - db
      networks:
        - study-network
    portainer:
      image: portainer/portainer-ce:latest
      restart: always
      ports: 
        - 9000:9000
      volumes:
        - /var/run/docker.sock:/var/run/docker.sock
        - portainer_data:/data
      networks:
        - study-network
volumes: 
  portainer_data:
        
networks:
  study-network:
    driver: bridge