name: continuous and delivery with Github Actions

on:
  push:
    branches: 
      - main

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_ACCESS_TOKEN }}

    - name: Setup Java
    - uses: actions/setup-java@v5
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven

    - name: Build Application .jar
      working-directory: ./study-spring/base-app-study
      run: mvn clean package

    - name: Docker compose build
      working-directory: ./study-spring
      run: docker compose build

    - name: push to Docker HUB container Registry
      run: |
        docker tag ${{ secrets.DOCKER_USERNAME }}/rest-with-spring-study:latest ${{ secrets.DOCKER_USERNAME }}/rest-with-spring-study:${{ github.run_id}}
        
        docker push ${{ secrets.DOCKER_USERNAME }}/rest-with-spring-study:latest
        docker push ${{ secrets.DOCKER_USERNAME }}/rest-with-spring-study:${{ github.run_id}}
